.App {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.App-header {
    grid-column: 1/-1;
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

#editor {
    grid-column: 1/2;
    grid-row: 2/3;
}

#preview {
    grid-column: 2/3;
    grid-row: 2/3
}

img {
    height: 150px;
    width: 300px;
}
